<app-search-form [newsQuantity]="newsQuantity"
    (conditionOnSearch)="onGetconditionOnSearch($event)"
    (bulkAction)="onGetBulkAction($event)"
></app-search-form>
<div class="row">
    <div class="col">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="allNews"
                                (change)="onCheckAllItems()"
                                [checked] = "hasCheckAllItems"
                            >
                            <label class="custom-control-label" for="allNews">Title</label>
                        </div>
                    </th>
                    <th>Author</th>
                    <th>Category</th>
                    <th>Tags</th>
                    <th>Comment</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of news; let i = index" class="dropdown dropdown-{{i}}">
                    <td class="cell-title pb-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="{{ item?.id }}"
                                (change)="onCheckItem( item?.id)"
                                [checked] = "item?.hasChecked"
                            >
                            <label class="custom-control-label" for="{{ item?.id }}">{{ item?.title.rendered }}</label>
                        </div>
                        <div class="option"
                            *ngIf="conditionOnSearch.postStatus !== 'trash'"
                        >
                            <a class="text-info"
                                [routerLink]="item?.slug + '-' + item?.id"
                            >
                                Edit
                            </a>
                            <span>|</span>
                            <a class="text-warning mx-2"
                                (click)="onQuickEdit(item?.id)"
                            >
                                Quick Edit
                            </a>
                            <span>|</span>
                            <a class="text-danger"
                                (click)="onDeleteItem(item?.id)"
                            >
                                Trash
                            </a>
                            <span>|</span>
                            <a class="text-info"
                                [routerLink]="item?.slug + '-' + item?.id"
                            >
                                Preview
                            </a>
                        </div>
                        <div class="option"
                            *ngIf="conditionOnSearch.postStatus == 'trash'"
                        >
                            <a class="text-info"
                            >
                                Restore
                            </a>
                            <span>|</span>
                            <a class="text-danger"
                                (click)="onClickPermanlyDelete(item, item?.id)"
                            >
                                Delete
                            </a>
                        </div>
                        <div class="col-4" *ngIf="item.isQuickEditStatus">
                            <app-news-quick-edit [editItem]="item"></app-news-quick-edit>
                        </div>
                    </td>
                    <td>
                        fbg
                    </td>
                    <td>
                        {{ item?.categories | mapCategory }}
                    </td>
                    <td>
                        {{ item?.tags | mapTags }}
                    </td>
                    <td>
                        vfb
                    </td>
                    <td>
                        {{ item?.date }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-news-form-confirm (hasPermalyDelete)="onPermanlyDelete($event)"
    [deletePermanlyNews]="deletePermanlyNews"
></app-news-form-confirm>
