<div class="row">
    <div class="col-md-4 col-tag-add">
        <!-- <app-tag-add
            (hasAddSuccessEmit)="onAddSuccess($event)"
        ></app-tag-add> -->
        tag-add
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <app-tax-action
                    (actionEmit)="onDoAction($event)"
                ></app-tax-action>
                Tax Action
            </div>
            <div class="col-md-8">
                <!-- <app-tax-search [taxQuantity]="tagQuantity" [pageQuantity]="pageQuantity"
                    (searchDataEmit)="onSearch($event)"
                ></app-tax-search> -->
                <app-tax-search [taxQuantity]="catQuantity" [pageQuantity]="pageQuantity"
                    (searchDataEmit)="onSearch($event)"
                ></app-tax-search>
                tax-search
            </div>
        </div>
        <app-tax-list
            [allTaxes]="allCats"
            (checkedTaxesEmit)="onCheckTags($event)"
            (idDeleteEmit)="onDeleteTagById($event)"
            (editedTaxEmit)="onSubmitEditedCat($event)"
            [editedTax]="editedTax"
        ></app-tax-list>
        TaxList
    </div>
</div>
