<form>
    <h3>Add new category</h3>
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control"
            [(ngModel)]="name"
            (keyup)="onChangeName()"
            [ngModelOptions]="{standalone: true}"
        >
    </div>
    <div class="form-group">
        <label>Slug</label>
        <input type="text" class="form-control"
            [(ngModel)]="slug"
            [ngModelOptions]="{standalone: true}"
        >
    </div>
    <div class="form-group">
        <label>Parent Category</label>
        <select
          class="form-control mr-2" name="parent" value="{{ parent }}"
          [(ngModel)]="parent"
          [ngModelOptions]="{standalone: true}"
        >
          <option value="">None</option>
          <option *ngFor="let allCat of allCats" value="{{ allCat.id }}">{{ allCat.name }}</option>
        </select>
    </div>
    <button class="btn btn-primary" type="reset"
        [disabled]="hasDisableBtn"
        (click)="onAddCat()"
    >Add new category</button>
</form>
