<div class="row mt-4">
    <div class="col-md-7">
        <h3>News List</h3>
        <p class="news-status">
            <a class="text-success">All</a>
            <span class="news-status-devide mx-2">|</span>
            <a class="text-success">Publish</a>
            <span class="news-status-devide mx-2">|</span>
            <a class="text-success">Draft</a>
        </p>
    </div>
    <div class="col-md-5">
        <div class="input-group mb-3">
            <input type="text" class="form-control"
                [(ngModel)]="keywords"
            >
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"
                    [routerLink]="['/news']"
                    [queryParams]="{ keywords: keywords}"
                    (click)="onSearch()"
                >
                    Search News
                </button>
            </div>
        </div>
        <ul class="pagination float-right">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item">
                <a class="page-link" href="#">
                    <!-- {{ newsQuantity }} -->
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>