<div class="row mt-4">
    <div class="col-md-8">
        <h3 class="mb-4">News List</h3>
        <select class="form-control" name="selectedDate"
            [(ngModel)]="selectedDate"
        >
            <option value="">Date</option>
            <option value="">Select1</option>
        </select>
        <select class="form-control mx-2" name="selectedCategory"
            [(ngModel)]="selectedCategory"
        >
            <option value="0">
                All
            </option>
            <option
                *ngFor="let newsCategory of newsCategories"
                value="{{ newsCategory?.id }}"
            >
                {{ newsCategory?.name }}
            </option>
        </select>
        <button class="btn btn-outline-secondary" type="button"
            [routerLink]="['/news']"
            [queryParams]="{ 
                s: keywords,
                category: selectedCategory,
                date: selectedDate,
                status: 'publish'
            }"
            (click)="onSearch()"
        >
            Filter
        </button>
        <p class="news-status mt-2">
            <a class="text-success">All</a>
            <span class="news-status-devide mx-2">|</span>
            <a class="text-success"
                [routerLink]="['/news']"
                [queryParams]="{ 
                    s: keywords,
                    category: selectedCategory,
                    date: selectedDate,
                    status: 'publish'
                }"
                (click)="onSearch()"
            >
                Publish
            </a>
            <span class="news-status-devide mx-2">|</span>
            <a class="text-success">Draft</a>
        </p>
    </div>
    <div class="col-md-4">
        <div class="input-group mb-3">
            <input type="text" class="form-control"
                [(ngModel)]="keywords"
            >
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"
                    [routerLink]="['/news']"
                    [queryParams]="{ 
                        s: keywords,
                        category: selectedCategory,
                        date: selectedDate,
                        status: 'publish',
                        page: page
                    }"
                    (click)="onSearch()"
                >
                    Search News
                </button>
            </div>
        </div>
        <ul class="pagination float-right">
            <li class="page-item">
                <a class="page-link"
                    [routerLink]="['/news']"
                    [queryParams]="{ 
                        s: keywords,
                        category: selectedCategory,
                        date: selectedDate,
                        status: 'publish',
                        page: page - 1
                    }"
                    (click)="onSearch()"
                >
                    Previous
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                    [routerLink]="['/news']"
                    [queryParams]="{ 
                        s: keywords,
                        category: selectedCategory,
                        date: selectedDate,
                        status: 'publish',
                        page: page
                    }"
                    (click)="onSearch()"
                >
                    1
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                    [routerLink]="['/news']"
                    [queryParams]="{ 
                        s: keywords,
                        category: selectedCategory,
                        date: selectedDate,
                        status: 'publish',
                        page: page
                    }"
                    (click)="onSearch()"
                >
                    2
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">
                    3<!-- {{ newsQuantity }} -->
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                    [routerLink]="['/news']"
                    [queryParams]="{ 
                        s: keywords,
                        category: selectedCategory,
                        date: selectedDate,
                        status: 'publish',
                        page: page + 1
                    }"
                    (click)="onSearch()"
                >
                    Next
                </a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
</div>